body{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 100vw,100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    width:  0em;
}
body::-webkit-scrollbar-thumb {
    background-color: #ff0000;
}

body::-webkit-scrollbar-track {
    background-color: #000000;
}
*{
    margin: 0px;
    padding: 0px;  
}
.body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100vw;  
}
.navoptions{
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    margin-top: auto;
    margin-bottom: auto;
}
.navmenu{
    margin-right: 20px;
    height: 2px;
    width: 20px;
    background-color: rgba(0, 0, 0);
}
.MENU{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.555);
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    top: -215px;
}
.submenu{
    margin-top: 10px;
    list-style: none;
    margin-bottom: 10px;
}
.SHIFTEFMENU{
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.555);
    color: aliceblue;
    padding-top: 30px;
    position: absolute;
    top: 0px;
}
.cross {
    margin: 9px;
    margin-right: 12px;
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    display: flex;
    height: 30px;
    width: 30px;
    background-color: rgb(0, 0, 0);
}

.leg1, .leg2 {
    margin: auto;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
}

.leg1 {
    transform: rotate(-45deg);
    translate: 7.5px;
}

.leg2 {
    transform: rotate(45deg);
    translate: -7.5px;
}
.king{
    display: flex;
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    .submenu{
        margin-inline:20px;
    }
    .cross{
        height: 0;
        width: 0;
    }
}
.main{
    padding: 2vh;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.part{
    width: 440px;
    height: 440px;
    background-color: #111111;
    flex-grow: 1;
    margin: 20px;
}
.main>img{
    width: 100vw;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #ff0000;
}
.item{
    width: 300px;
    height: 300px;
    background-color: #111111;
    margin: 20px;
    flex-grow: 1;
}

